@using BoiMela.Models
@using BoiMela.DataAccess
@{
    ViewBag.Title = "Index";
}
@{ 
    List<Publication> publications = PublicationDataAccess.GetPublicationList();
}
<div class="row">
    <div class="col-md-12">
        <div class="wraper">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4>All Publications</h4>
                    <p>All the listed publications are here!</p>
                </div>
                <a class="btn btn-success" href="@Url.Action("Create", "Publication")">Create Publication</a>
            </div>
           
            <div class="row">
                <div class="col-md-6">
                    <div class="sale-area">
                        <div class="dt-table-body">
                            <table id="PublicationDtTable" class="display tableDataCenter" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (Publication publication in publications)
                                        {
                                            <tr>
                                                <td>@publication.Name</td>
                                                <td>
                                                    <a class="btn btn-sm btn-warning" href="@Url.Action("Edit", "Publication", new {id=publication.Id})">Edit</a>
                                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Publication", new {id=publication.Id})">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    DataTableDefiner("PublicationDtTable");
</script>

