
@{
    ViewBag.Title = "Create";
}
@model BoiMela.Models.Genre
<div class="row">
    <div class="col-md-12">
        <div class="wraper">
            <h4 class="m-0">Edit Genre</h4>
            <p>Edit the genre</p>
            @using (Html.BeginForm("Edit", "Genre", FormMethod.Post))
            {
                <div class="row">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="btn btn-success text-capitalize w-100" type="submit" value="Edit Genre" name="btnSubmit" />
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn-dark text-capitalize w-100" href="@Url.Action("Index", "Genre")">Cancel</a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>


